body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #E0FBFC;
}
.mainContainer {
	display: flex;
	flex-wrap: wrap;
}

/* Header part */
header {
	width: 100%;
	background-color: #293241;
	height: 80px;
	margin-bottom: 70px;
}
header .left {
	float: left;
}
.left .logo {
	height: 80px;
	float: left;
	padding-left: 30px;
	padding-right: 14px;
}
.left .logo img {
	max-width: 100%;
	max-height: 100%;
}
.left .name {
	height: 80px;
	line-height: 80px;
	float: left;
	font-size: 30px;
	font-weight: bold;
	color: #e0fbfc;
}
.right {
	text-align: center;
}
.right ul {
	margin: 0;
	padding: 0;
	padding-right: 20px;
}
.right ul li {
	display: inline-block;
	height: 80px;
	line-height: 80px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding: 0 24px;

}
.right ul li a {
	color: #e0fbfc;
	text-decoration: none;
}
.right ul li a:hover {
	color: #EE6C4D;
}

header .right {
	float: right;
}


/* Middle part */
section.middle {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
#game {
	margin: 0 auto;
	background-color: lightgrey;
}

.edge {
	background-color: black;
	width: 10px;
	height: 10px;
}
.bar:hover {
	cursor: pointer;
	background-color: grey;
}
.selected {
	cursor: default !important;
	background-color: black !important;
}
.square {
	background-color: white;
}
.player-1 {
	background-color: orange;
}
.player-2 {
	background-color: deepskyblue;
}

@media (max-width: 700px) {
	.name {
		display: none;
	}
}

/* Create game page */
input.pseudo {
	height: 26px;
	padding: 0 4px;
	border: 2px solid #EE6C4D;
}
input.pseudo:focus {
	outline: none;
	box-shadow: 0px 0px 3px black;
}
input.submit {
	height: 30px;
	padding: 0px 80px;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

/* Game page */
.loading, .waitForResults {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 32px;
	font-style: italic;
	padding-bottom: 26px;
}

.loading .icon, .waitForResults .icon {
	width: 40px;
	height: 40px;
	margin: 0 auto;
	padding-top: 16px;
}
.loading .icon img { max-height: 100%; max-width: 100%; }
.waitForResults .icon img { max-height: 100%; max-width: 100%; }

.middle .left {
	width: calc(30% - 12px);
	margin-left: 12px;
}
.middle .right {
	width: 70%;
}
.linkToGame, .joinButton {
	width: 100%;
	text-align: center;
	margin-top: -70px;
	height: 40px;
	line-height: 40px;
	background-color: #EE6C4D;
	color: white;
	font-size: 22px;
}
.linkToGame input {
	width: 50%;
	border: none;
	padding: 4px;
	border-radius: 6px;
}
.joinButton .join {
	background-color: white;
	border-radius: 6px;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}
.gameInfo {
	font-weight: bold;
	font-size: 18px;
}
.gameInfo h1 {
	font-size: 24px;
}
#gameStatus {
	font-style: italic;
	color: #EE6C4D;
	font-size: 16px;
}
#playerOne, #playerTwo {
	font-style: italic;
	font-size: 16px;
}
#playerOne {
	color: orange;
}
#playerTwo {
	color: deepskyblue;
}
.actionInfo {
	color: #EE6C4D;
	font-size: 16px;
}








/* Random classes */
.hideBeforeLoad {
	display: none;
}

/* The slider itself */
.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #EE6C4D; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #EE6C4D; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #EE6C4D;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.rotate {
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.flash {
	-webkit-animation: color_change 1s infinite alternate;
	-moz-animation: color_change 1s infinite alternate;
	-ms-animation: color_change 1s infinite alternate;
	-o-animation: color_change 1s infinite alternate;
	animation: color_change 1s infinite alternate;
}

@-webkit-keyframes color_change {
	from { background-color: grey; }
	to { background-color: black; }
}
@-moz-keyframes color_change {
	from { background-color: grey; }
	to { background-color: black; }
}
@-ms-keyframes color_change {
	from { background-color: grey; }
	to { background-color: black; }
}
@-o-keyframes color_change {
	from { background-color: grey; }
	to { background-color: black; }
}
@keyframes color_change {
	from { background-color: grey; }
	to { background-color: black; }
}